<h2>View by Country</h2>
<select ng-model="chartObject.type">
    <option value="LineChart">Line Chart</option>
    <option value="BarChart">Bar Chart</option>
    <option value="ColumnChart">Column Chart</option>
</select>
<select ng-model="country" ng-options="c as c.label for c in countries" ng-change="onCountryChange()">
</select>
<div ng-hide="loadComplete" class="preloader"></div>
<div google-chart chart="chartObject" on-select="onCellSelected(selectedItem)"></div>
<div google-chart chart="detailChartObject"></div>