<div class="row top-margin-20">
    <div class="jumbotron">
        <h1>yDashboard 2</h1>
        <p>This is an interview project for In-Touch Survey Systems Ltd. Made by Yue Shang.</p>
        <p>Click any of the three buttons below to start.</p>
    </div>
</div>
<div class="row">
    <nav class="col-md-4 text-center">
        <a href="#/year" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-calendar"></span> View by Year</a>
    </nav>
    <nav class="col-md-4 text-center">
        <a href="#/country" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-globe"></span> View by Country</a>
    </nav>
    <nav class="col-md-4 text-center">
        <a href="#/athlete" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-user"></span> View by Athlete</a>
    </nav>
</div>
