<h2>View by Year</h2>
<select ng-model="chartObject.type">
    <option value="PieChart">Pie Chart</option>
    <option value="LineChart">Line Chart</option>
    <option value="BarChart">Bar Chart</option>
    <option value="ColumnChart">Column Chart</option>
</select>
<select ng-model="year" ng-change="onYearChange()">
    <option value="2012">2012</option>
    <option value="2008">2008</option>
    <option value="2004">2004</option>
    <option value="2000">2000</option>
</select>
<div ng-hide="loadComplete" class="preloader"></div>
<div google-chart chart="chartObject" />